.company {
    width: 100%;
    background: #100726;
    background-image: url(../../images/radial2.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 800px;
    scroll-margin-top: 100px;
}


@media screen and (max-width: 900px) {

  .company {
     background-position: 300px 50%;
     scroll-margin-top: 100px;
  }

}

@media screen and (max-width: 600px) {

  .company {
     background-position: 140px 50%;
     scroll-margin-top: 50px;
  }

}

@media screen and (max-width: 400px) {
  .company {
  background-position: 60px 50%;
  scroll-margin-top: 190px;
  }

}
