.header__logo {
  max-width: 417px;
  align-self: center;
  grid-area: logo;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}


@media screen and (max-width: 1200px) {

  .header__logo {
      max-width: 100%;
  }

}
