.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  height: 200px;
  background-image: linear-gradient(0deg, rgba(16, 7, 38, 0) 4.68%, rgba(16, 7, 38, 0.85) 52.34%, #100726 100%);
}

.header__block {
  display: grid;
  position: fixed;
  grid-template-columns: 4fr 2fr 3fr max-content max-content;
  grid-template-areas: "logo . menu language button";
  column-gap: 20px;
  /* justify-content: space-between; */
  max-width: 1180px;
  margin: 0 auto; left:0px; right:0px;
  /* align-items: center; */
  padding: 42px 0 40px 0;
  z-index:2;
}
