.header__language-link {
  display: flex;
  background-color: black;
  color: #57EAFF;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: language;
}


.header__language-link:hover {
  background-color: rgb(58, 21, 21);
}
