.header__block {
  display: grid;
  position: fixed;
  grid-template-columns: 4fr 2fr 3fr max-content max-content;
  grid-template-areas: "logo . menu language button";
  column-gap: 20px;
  /* justify-content: space-between; */
  max-width: 1180px;
  margin: 0 auto; left:0px; right:0px;
  /* align-items: center; */
  padding: 42px 0 40px 0;
  z-index:2;
}

@media screen and (max-width: 1200px) {
  .header__block {
    max-width: 84%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    grid-template-areas:
    "logo logo logo button button"
    "menu menu menu menu language";
  }
}

@media screen and (max-width: 600px) {
  .header__block {
    max-width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    grid-template-areas:
    "logo logo logo logo logo"
    "menu menu menu menu language";
  }

}
