.cover {
  position: relative;
  background: no-repeat top left url(../../images/header.jpg);
  background-size: 130%;
  background-position: center;
  height: 120vh;
}


.cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(16, 7, 38, 0) 10%, #100726 95%);
}
