.cover {
  position: relative;
  background-image: url(../../images/header.jpg);
  /* background-size: cover; */
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100vh;
}


.cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(16, 7, 38, 0) 10%, #100726 95%);
}

@media screen and (max-width: 1920px) {
  .cover {
    background-size: cover;
  }
}


@media screen and (max-width: 450px) {
  .cover {
    background-size: cover;
    background-position: 35% 50%;
  }
}
